<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>Unit1Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.himani.unit1.servlet.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Program9Cookie</display-name>
    <servlet-name>Program9Cookie</servlet-name>
    <servlet-class>com.himani.unit1.servlet.Program9Cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Program9Cookie</servlet-name>
    <url-pattern>/Program9Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Program11HelloServlet</display-name>
    <servlet-name>Program11HelloServlet</servlet-name>
    <servlet-class>com.himani.unit1.servlet.Program11HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Program11HelloServlet</servlet-name>
    <url-pattern>/Program11HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Program12</display-name>
    <servlet-name>Program12</servlet-name>
    <servlet-class>com.himani.unit1.servlet.Program12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Program12</servlet-name>
    <url-pattern>/Program12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Program15</display-name>
    <servlet-name>Program15</servlet-name>
    <servlet-class>com.himani.unit1.servlet.Program15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Program15</servlet-name>
    <url-pattern>/Program15</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Program16</display-name>
    <servlet-name>Program16</servlet-name>
    <servlet-class>com.himani.unit1.servlet.Program16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Program16</servlet-name>
    <url-pattern>/Program16</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
    <description></description>
    <display-name>Program19</display-name>
    <servlet-name>Program19</servlet-name>
    <servlet-class>com.himani.unit1.servlet.Program19</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Program19</servlet-name>
    <url-pattern>/Program19</url-pattern>
  </servlet-mapping> -->
</web-app>